body {
    margin: 0;
    padding: 0;
    font-family:Аrial, sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
}
.header {
    background-image: url('img/Rectangle 6-1.png'); 
    background-size: cover;
    background-position: center;
    color: white; /* Цвет текста */
    padding:75px 0; /* Отступы сверху и снизу */
    text-align: center; /* Выравнивание текста по центру */
}

.container {
    max-width: 1200px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 0 15px;
}
.Ntxt {
    font-size: 18px;
}
.Ntxt2{
    font-size: 34px;
}
.Ntxt3 {
    margin-top: 30px;
    margin-bottom: 45px;
    font-size: 22px;
    font-weight: lighter;
}
.btn {
    display: inline-block;
    padding: 15px 70px;
    text-decoration: none;
    cursor: pointer;
    font-size: 26px;
    margin-bottom: 40px;
}
.Ntxt-1{
    text-align: center;
    margin-top: 130px;
    font-weight: lighter;
    font-size: 18px;
}
.Ntxt-2{
    text-align: center;
    font-size: 28px;
}
.article {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
}
.article2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    top: -145px;
    color: white;
    font-size: 24px;
    font-weight: lighter;
}
.t1 {
    width: 200px;
}
.t2 {
    position: relative;
    left: 25px;
    width: 250px;
    margin-left: 100px;
    margin-right: 100px;
}
.t3 {
    width: 250px;
    position: relative;
    left: 25px;
}
.button2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: -50px;
}
.btn2 {
    background-color: black;
    color: white;
    padding: 15px 70px;
    text-decoration: none;
    cursor: pointer;
    font-size: 26px;
    margin-bottom: 40px;

}
